{{ asset_add('styles.css', 'defr.extension.ga_widget::css/chartist.css') }}

{{ asset_add('scripts.js', 'defr.extension.ga_widget::js/chartist.js') }}
{{ asset_add('scripts.js', 'defr.extension.ga_widget::js/chart.js') }}

{% if widget.data.items is not empty %}

    <div class="ct-chart"
        data-labels="{{ widget.data.labels|json_encode }}"
        data-series="{{ '[' ~ widget.data.items|json_encode ~ ']' }}"
        data-opt-high="{{ config_get('defr.extension.ga_widget::high') }}"
        data-opt-low="{{ config_get('defr.extension.ga_widget::low') }}"
        data-opt-show-area="{{ config_get('defr.extension.ga_widget::show_area') }}"
        data-opt-show-line="{{ config_get('defr.extension.ga_widget::show_line') }}"
        data-opt-show-point="{{ config_get('defr.extension.ga_widget::show_point') }}"
        data-opt-fixed-width="{{ config_get('defr.extension.ga_widget::fixed_width') }}"
        data-opt-axisx-show-label="{{ config_get('defr.extension.ga_widget::axisx.show_label') }}"
        data-opt-axisx-show-grid="{{ config_get('defr.extension.ga_widget::axisx.show_grid') }}"
    ></div>

{% else %}

    <p class="error">
        {{ trans('anomaly.extension.xml_feed_widget::message.error') }}
    </p>

{% endif %}
